/* LOG PAGE COMPONENTS */

.log-header {
    width: 650px;
    height: 125px;
    border: 1px solid red;
}

.log-header-section {
    width: 600px;
    height: 58.5px;
    /* background-color: silver; */
}

.log-header-bttn {
    width: 150px;
    height: 58px;
    background-color: yellow;
}

.log-entries {
    width: 650px;
    height: 475px;
    overflow-x: auto;
    overflow-y: auto;
    border: 1px solid red;
}

.log-entry {
    width: 625px;
    height: 85px;
    /* background-color: magenta; */
    border: 1px solid yellow;
}

.log-entry-field {
    height: 75px;
    width: 75px;
    font-size: 9px;
    border: .5px solid red;
}

.field {
    width: 60px;
    height: 30px;
    background-color: yellow;
}