/* Legend: flex/(col || row)/(flex-direction)/(justify-content)/(align-items)/(flex-wrap)   */
.flex-col-cntr-cntr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-col-flx-end-cntr {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.flex-col-flx-strt-cntr {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.flex-col-spc-evn-cntr {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.flex-col-spc-arnd-cntr {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.flex-row-cntr-cntr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row-cntr-cntr-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.flex-row-flx-end-cntr {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flex-row-spc-evn-cntr {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

